
body{
    background: url(imagenes/gris.jpeg) ;
}
.contenedor{
    width: 965px;
    background: rgb(248, 246, 246);
    margin: auto;
    border-radius: 25px;

}
.header img{
    margin-left: 20px;
}

.top {
    margin-top: 30px;
}
.menu {
    float: right;
}
 .menu li{
    display: inline-block;
 }

 .menu a{
     color: rgb(8, 8, 8);
     text-decoration: none;
     padding: 20px;
 }

 .menu a:hover{
     background-color: rgb(248, 29, 29);
 }

 .col {
     width: 265px;
     display: inline-block;
     vertical-align: top;
     text-align: justify;
     padding: 20px;
 }
 .col h2{
     color: rgb(22, 22, 22);
 }

 .row {
     text-align: center;
 }

 .footer {
     overflow: hidden;
 }

 .footer a{
     color: rgb(15, 15, 15);
     text-decoration: none;
 }

 .footer span{
     float: left;
     margin-top: 10px;
     margin-left: 30px;
       
 }

